<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>作者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poems.each do |poem| %>
      <tr>
        <td><%= poem.title %>　：　</td>
        <td><%= poem.content %>　：　</td>
        <td><%= poem.auther %>　：　</td>
        <td><%= link_to 'Show', poem_path(poem.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>