<%= form_for(@user) do |f| %>
   <% @followed=@user.followed_users %>
   <% @followed.each do |followed| %>
         <p class="center"><%= followed.name %></p>
         <p class="center"><%= profile_img(followed) %></p>
   <% end %>
<% end %>
